a{
  text-decoration: none;
}

#header{
  margin: -10px;
  display: flex; 
  height: 100px;
  background-color: #2470a0;
  justify-content:space-around;
  
  min-width: 400px;
  
}

#logo{
  margin-top: 10px;
}

#logo-image{
  width: 45px;
}


#menu{
  display: flex;
  align-items: center; 
}

#menu > a{
  color: black;
}

.page-item{
  border-right: 1px solid;
  font-size: 24px;
  height: 40px;
  padding: 0 12px 0 12px;
}

#about-me{
  display: flex;
  justify-content: center;
}

#about-box{
  display: flex;
  flex-direction: column;
}

#about-image,#about-text{
  max-width: 650px;
}

#sponsor{
  display: flex;
  padding: 5px;
  justify-content:space-between;
}