a{
  text-decoration: none;
}

#header{
  margin: -10px;
  display: flex; 
  height: 100px;
  background-color: #2470a0;
  justify-content:space-around;
  
  min-width: 400px;
  
}

#logo{
  margin-top: 10px;
}

#logo-image{
  width: 45px;
}


#menu{
  display: flex;
  align-items: center; 
}

#menu > a{
  color: black;
}

.page-item{
  border-right: 1px solid;
  font-size: 24px;
  height: 40px;
  padding: 0 12px 0 12px;
}


/* 以下是學習歷程的內文 */
#page-body{
  margin: -10px;
  margin-top: 10px;
  min-height: 550px;
  
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  
  background-color: red;
  padding: 30px;
}

#page-box{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.edit-box, .select-box{
  padding: 15px;

  width: 500px;
  height: 600px;

  overflow: scroll;

  min-height: 525px;
  border-radius: 10px;
  background-color: white;
}

.msg-item-title > div, .msg-item > div{
  width: 150px;
  margin-right: 6px;
}

.select-box{
  display: flex;
  flex-direction: column;
}

.msg-item-title, .msg-item{
  padding: 7px;
  display: flex;
  justify-content: space-around;
  text-align: left;
  border-radius: 8px;
}

.msg-item-title{
  background-color: #bbb;
}


.msg-item{
  cursor: pointer;
  transition-duration: 0.5s;
  margin-top: 10px;
  border: 1px black solid;
}

.msg-item:hover{
  background-color: #eee;
}


/* 修改 */

.edit-box{
  display:flex;
  flex-direction: column;
}

.button-box{
  margin-top: 15px;
}

#title-edit, #time-edit, #type-edit, #descript-edit{
  margin-bottom: 25px;
}


/* 底部 */
#sponsor{
  display: flex;
  padding: 5px;
  justify-content:space-between;
}