.main{
  display: flex;
  padding: 50px 20px 50px 30px;

  flex-direction: column;
  justify-content: center;
  
}

.main-box{
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  /* align-content: flex-start; */
  
  /* width: 768px; */
  /* height: 1000px; */
  
}

.page-box{
  overflow: scroll;
}

.page-box, .edit-box{
  width: 45%;
  height: 500px;
  background-color: red;
  padding: 10px;
}

.page-name{
  width: 40%
}

.page-type, .page-time{
  width: 30%
}


.page-item{
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;

  margin-top: 15px;
  font-size: 25px;
}

.page-title{
  margin-top: 0px;
}

.edit-box > input, .edit-box > textarea, .edit-box > select{
  font-size: 25px;
}

#edit-image{
  width: 90%;
}

#edit-directions{
  height: 150px;
  width: 90%;
}

#save, #delete{
  font-size: 20px;
  padding: 2px;
  background-color: pink;
  width: auto;
}




/* 電腦螢幕、平板螢幕 */
@media screen and (min-width: 1100px){

  .main-item{

    padding: 5px;
    width: 250px;
    height: 350px;
    margin: 15px;

    font-size: 15px;
  }

  #select{
    height: 23px;
    width: 200px;
  }
  
  #type{
    height: 23px;
    margin-right: 0px;
    margin-left: 0px;
  }
  
  #button{
    height: 25px;
    width: 50px;
  }
  
}