.main_box{
  
  margin-top: 20px;
  display: flex;
  justify-content: center;

  padding: 30px;

}

#back_to img{
  /* border: 1px solid black; */
  background-color: var(--sage);
  border-radius: 10px;
  width: 100px;

  transition: 0.3s;
}

#back_to img:hover{
  opacity: 0.8;
}

.main_deatil{
  display: flex;
  flex-direction: column;
  width: 700px;
}

.main_deatil > h3, .main_deatil > img {
  margin-top: 25px;
}

.main_deatil > h1 {
  font-size: 50px;
}

#backtop{

  bottom: -100px;
  box-sizing: border-box;
  
  cursor: pointer;
  font-size: 10px;
  
  position: fixed;
  text-align: center;
  transition-property: bottom;
  z-index: 1300;
  
  transition-timing-function: ease-in-out;
  width: 240px;

  right: 10px;
  bottom: 30px;

}

#backtop > img{
  width: 85px;
}

.main_otherdetail{

  margin-top: 20px;
  padding-left: 10px;
  margin-left: 5px;
  
}

#next_detail > div{

  font-size: 20px;

  color: var(--text-color);
  font-weight: bold;
  padding: 10px 0 30px 0;
  height: 30px;
}

#next_detail > div:hover{
  opacity: 0.7;
}




/* 電腦螢幕、平板螢幕 */
@media screen and (min-width: 1100px){

  .main_deatil{
    width: 500px;
  }

  .main_deatil > h1 {
    font-size: 32px;
  }

  #backtop > img{
    width: 50px;
  }
  
}