.main{
  display: flex;
  padding: 50px 20px 50px 30px;

  flex-direction: column;
  justify-content: center;

  
}

.main-box{
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  /* align-content: flex-start; */
  
  /* width: 768px; */
  /* height: 1000px; */
  
}


.main-selct{
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

#select{
  height: 40px;
  width: 200px;
}

#type{
  height: 50px;
  width: 90px;
  margin-right: 20px;
  margin-left: 5px;
}

#button{
  height: 35px;
  width: 90px;
}

.main-item{

  padding: 5px;

  margin: 25px;

  width: 350px;
  height: 500px;

  background-color: pink;
  
  color: black;
  display: flex;
  flex-direction: column;

  font-size: 25px;
}



/* 電腦螢幕、平板螢幕 */
@media screen and (min-width: 1100px){

  .main-item{
    width: 250px;
    height: 350px;
    margin: 15px;
  }

  #select{
    height: 23px;
    width: 200px;
  }
  
  #type{
    height: 23px;
    margin-right: 0px;
    margin-left: 0px;
  }
  
  #button{
    height: 25px;
    width: 50px;
  }
  
}