.homepage{
  /* width: 100%; */
  background-color:#97CBFF;
  margin: auto;
  height: 1600px;

  background: url(../image/bg-home.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size: cover;

}

.title-box{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  
  background-color: var(--babypowder);
  padding: 10px;
  width: auto;

  opacity: 0.8;
}

.title{
  font-size: 90px;
}

.title-h2{
  font-size: 90px
}

.container{
  position: relative;
  text-align: center;


  top: 28%;
  
}


.title{
  display: inline-block;
  border-bottom: 2px solid black;

}

#about{
  /* width: 100%; */
  display: flex;
  background-color: white;
  justify-content: center;
}

.about-box{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 120px 50px;

}

.about-img{
  text-align: center;
}

.about-content > p{
  font-size: 20px;
}



.about-content > h3{
  font-size: 40px;
}


/* 電腦螢幕、平板螢幕 */
@media only screen and (min-width: 1100px) {
  .homepage{
    background-color: red;
    height: 800px;
    
  }

  .title-box{
    width: 30%;
  }

  .title{
    font-size: 46px
  }

  .title-h2{
    font-size: 46px
  }

  .container{
    font-size: 40px;
  }
}

/* @media only screen and (min-width: 321px) and (max-width: 768px) {
  .homepage{
    background-color: red;
    height: 800px;
    
  }

  .container{
    font-size: 40px;
  }
} */


/* @media only screen and (min-width: 0px) and (max-width: 320px){
  .homepage{
    background-color: red;
    height: 800px;
    
  }

  .container{
    font-size: 40px;
  }
} */