a{
  text-decoration: none;
}

body{
  margin: 0;
}

#header{
  display: flex; 
  height: 120px;
  width: 100%;

  background-color: #2470a0;
  justify-content:space-around;

  box-shadow: 2px 2px 2px 2px black;
  z-index: 1;

  
}

#logo{
  margin-top: 10px;
}

#logo-image{
  width: 45px;
}


#menu{
  display: flex;
  align-items: center; 
}

#menu > a{
  color: black;
}

.page-item{
  border-right: 1px solid;
  font-size: 24px;
  height: 40px;
  padding: 0 12px 0 12px;
}

/* 首頁 */

.homepage{
  display: flex;

  height: 600px;
  background-color: yellow;
  background-size: 100% 100%;
  z-index: -1;
}

.homepage-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;

  padding: 10px;
  border: black 3px solid
}

.landingpage{
  display: flex;
  
}


/* 查詢 */
.select-box{
  
  padding-top: 40px;
  margin-bottom: -30px;
  display: flex;
  justify-content: center;
}

.select{
  margin-left: 5px;
}

#select-input{
  width: 250px;
}

#select-self{
  width: 100px;
}

/* 以下是學習歷程的內文 */
#page-body{
  margin: -10px;
  margin-top: 10px;
  min-height: 500px;
  
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  
  background-color: white;
  padding: 30px;
}

.item_box{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
    
}

.input_box, list_box{
  
  display: flex;
  flex-direction: column;
  
  
  width: 200px;
  padding: 0px 30px 30px 30px;
  margin: 10px;
  background-color: pink;
}

#summit_date{
  margin-top: 6px;
  height: 30px;
  
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 380px;
  max-width: 550px;
  
  padding-bottom: 90px;
  border-bottom: 2px #ccc solid;
}

.page-content{
  padding-top: 12px;
}

#sponsor{
  display: flex;
  padding: 5px;
  justify-content:space-between;
}