*{
  padding: 0;
  margin: 0;
  text-decoration:none;
}

.topbar-box{
  /* width: 100%; */

  display: flex;
  justify-content: space-between;

  background-color: skyblue;
}

.topbar-item, .logo{
  width: 50%;
}

.logo{
  margin-left: 20px;
  padding: 5px;
}

.topbar-item{
  display: flex;
  margin: 35px;
}

.topbar-item > a{
  padding: 10px;
  height: 20px;
  color: black;
  font-size: 20px;

  font-weight:bold;

  border-left: solid 1.5px black;
  
}


.homepage{
  /* width: 100%; */
  background-color:#97CBFF;
  margin: auto;
  height: 1000px;

}

.container{
  position: relative;
  text-align: center;
  font-size: 23px;

  top: 28%;
  
}

.title{
  display: inline-block;
  border-bottom: 2px solid black;

}

#about{
  /* width: 100%; */
  display: flex;
  background-color: white;
  justify-content: center;
}

.about-box{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 120px 50px;

}

.about-img{
  text-align: center;

}

.about-content > p{
  font-size: 20px;
}

.about-content > h3{
  font-size: 40px;
}


/* 電腦螢幕、平板螢幕 */
@media screen and (min-width: 900px){
  .homepage{
    background-color: red;
    height: 800px;
    
  }

  .container{
    font-size: 40px;
  }
}